body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: lemonchiffon; 
}

h1 {
    font-family: Helvetica;
    color: maroon;
}

.nav {
    background-color: brown;
    list-style: none;
    text-align: center;
    padding: 25px 0 25px 0;
}

.nav > li {
    display: inline-block;
    padding-right: 25px;
    padding-left: 25px;
}

.nav > li > a {
    text-decoration: none;
    color: cornsilk;
}

.nav > li > a:hover {
    color: gold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

p > img {
    padding: 25px;
}

ul > li {
    list-style: none;
}

.gitlink {
    text-decoration: none;
    color: indigo;
    font-weight: bold;
}

.intro {
    margin-left: 100px;
    margin-right: 100px;
}

.project {
    margin-right: 100px;
}